<!DOCTYPE html>
<html>
  <head>
    <title>Pierre's Treats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <h1>Pierre's Treats</h1>
      </div>
      <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top row">
        <ul class="navbar-nav col-md-8">
          <li class="nav-item">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
          </li>
          <li class="nav-item">
            @Html.ActionLink("Account", "Index", "Account", null, new { @class="nav-link" })
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Foods</a>
            <div class="dropdown-menu">
              @Html.ActionLink("Food Index", "Index", "Foods", null, new { @class="dropdown-item" })
              @Html.ActionLink("Add a Food", "Create", "Foods", null, new { @class="dropdown-item" })
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Flavors</a>
            <div class="dropdown-menu">
              @Html.ActionLink("Flavor Index", "Index", "Flavors", null, new { @class="dropdown-item" })
              @Html.ActionLink("Add a Flavor", "Create", "Flavors", null, new { @class="dropdown-item" })
            </div>
          </li>
        </ul>
        <form action="/" method="post" class="form-inline col-md-4">
          <select name="searchOption" id="searchOption">
            <option value="all">Search All</option>
            <option value="foods">Search Foods</option>
            <option value="flavors">Search Flavors</option>
          </select>
          <input type="search" name="searchString" id="searchString" placeholder="Search" />
          <button type="submit" class="btn btn-secondary">Search</button>
        </form>
      </nav>
      @RenderBody()
    </div>
  </body>
</html>