@{
  Layout = "_Layout";
}

@model Treat.Models.Food

@using (Html.BeginForm())
{
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Add A Flavor to @Html.DisplayFor(f => f.Name)</h5>
    </div>
    <div class="card-body form-group">
      @Html.HiddenFor(f => f.FoodId)
      @Html.HiddenFor(f => f.Name)
      @Html.Label("Select Flavor:")
      @Html.DropDownList("FlavorId", (SelectList)ViewBag.FlavorId, "", new {@class="form-control", @required=true})
    </div>
    <div class="card-body row">
      <div class="btn-group">
        <input type="submit" value="Add Flavor" class="btn btn-info" />
        @Html.ActionLink("Cancel", "Details", "Foods", new { id = Model.FoodId }, new { @class="btn btn-warning"})
      </div>
    </div>
  </div>
}