@{
  Layout = "_Layout";
}

@model Treat.Models.Flavor

@using (Html.BeginForm("Edit", "Flavors", FormMethod.Post))
{
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Editting @Html.DisplayFor(f => f.Name)</h5>
    </div>
    <div class="card-body form-group">
      @Html.HiddenFor(f => f.FlavorId)
      @Html.LabelFor(f => f.Name)
      @Html.TextBoxFor(f => f.Name, new { @class="form-control", @required=true })
    </div>
    <div class="card-footer btn-group">
      <input type="submit" value="Save Changes" class="btn btn-info" />
      @Html.ActionLink("Cancel", "Details", "Flavors", new { id = Model.FlavorId }, new { @class="btn btn-alert" })
    </div>
  </div>
}